.flight {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    &__data {
        flex: 1 0 0;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        white-space: nowrap;
      }
    &__label {
        margin-bottom: 5px;
        line-height: 18px;
        color: #A0B0B9;
    }
    &__value {
        font-size: 14px;
        line-height: 21px;
        @media (max-width: 340px) { 
            font-size: 12px;
        }
    }
}

