.flight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__titile {
        line-height: 18px;
        color: #A0B0B9;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 21px;
        @media (max-width: 340px) { 
            font-size: 12px;
        }
    }
}

